<ion-view view-title="Lista Usuarios" hide-back-button="true">
<ion-content>
	<div class="list">
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="model.search" placeholder="Buscar alumnos">
		</label>
		<button class="button button-small button-positive" ng-click="search()">Buscar</button>
	</div>
	</div>
	<!--<ion-list>
		<div ng-repeat="book in books track by $index" class="row responsive-sm" ng-if="$index % 2 == 0">
		<ion-item class="col-50" ng-repeat="i in [$index,$index + 1]" ng-if="books[i] != null" ng-href="#/app/book/{{::books[i]._id}}">
			<div class="item-thumbnail-left">
			<img ng-src="{{::book.image}}">
			<h2>{{::books[i].title}}</h2>
			<p>{{::books[i].short_description}}</p>
			<p><i class="icon ion-star" ng-repeat="i in getNumber(books[i].rating) track by $index"></i></p>
			</div>
		</ion-item>
		</div>
	</ion-list>-->
	<!--<div class="item-thumbnail-left">
		<img ng-src="{{::book.image}}">
		<h2>{{::books[i].title}}</h2>
		<p>{{::books[i].short_description}}</p>
		<p>
		<i class="icon ion-star" ng-repeat="i
		in getNumber(books[i].rating) track by $index"></i>
		</p>
	</div>-->
	<!--<div class="panel-body">
		<H5>{{name}}</H5>
		<p ng-if="!data.length">No hay datos</p>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="alumno in data">{{alumno.name}}<br />
				<small>{{alumno.lastname}}</small>
			</li>
		</ul>
	</div>-->
	<ion-list>
		<ion-item class="col-90" ng-repeat="alumno in data">
			<div class="item-thumbnail-left">
			<img ng-src="">
			<h2>{{alumno.lastname}}, {{alumno.name}}</h2>
			<p>{{alumno.email}}</p>
			<p><i class="icon ion-star"></i></p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>