<ion-view view-title="Supermercados" hide-back-button="true">
<ion-content>
	<div class="list">
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="model.search" placeholder="Buscar supermercados">
		</label>
		<button class="button button-small button-positive" ng-click="search()">Buscar</button>
	</div>
	</div>
	<ion-list>
		<ion-item class="col-90" ng-repeat="super in data">
			<div class="item-thumbnail-left">
			<img ng-src="">
			<h2>{{super.name}}</h2>
			<p>{{super.adress}}</p>
			<p><i class="icon ion-star"></i></p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>