<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>
      <ion-nav-buttons side="right">
<!-- <button ng-show="isAuthenticated"
class="button button-icon button-clear ion-unlocked" ng-
click="logout()">
</button> -->
        <a class="button button-icon button-clear ion-person" href="#/app/cart"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/browse">
          Lista Usuarios
        </ion-item>      
        <ion-item menu-close href="#/app/search">
          Alta Usuario
        </ion-item>
        <ion-item menu-close href="#/app/supermarket">
          Supermercados
        </ion-item>
        <ion-item menu-close ng-show="isAuthenticated" ng-
          click="logout()">
          Logout
        </ion-item>
        <ion-item menu-close ng-hide="isAuthenticated" ng-
          click="loginFromMenu()">
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
