<ion-view view-title="Alta Usuario">
  <ion-content>
    <ion-pane ng-hide="viewLogin">
		<ion-header-bar>
			<!--<h1 class="title">Register</h1>
			<div class="buttons">
				<button class="button button-assertive" ng-click="hide()">Close</button>
			</div>-->
		</ion-header-bar>
		<ion-content>			
				<div class="list">
					<label class="item item-input">
						<span class="input-label">Nombre</span>
						<input type="text" ng-model="user.name">
					</label>
					<label class="item item-input">
						<span class="input-label">Apellido</span>
						<input type="text" ng-model="user.lastname">
					</label>
					<label class="item item-input">
						<span class="input-label">Email</span>
						<input type="text" ng-model="user.email">
					</label>
					<label class="item">
						<button class="button button-block button-assertive" ng-click="alta()" ng-disabled="!user.name || !user.email || !user.lastname">Crear</button>
					</label>
				</div>			
		</ion-content>
	</ion-pane>
  </ion-content>
</ion-view>
